<app-home></app-home>
<div>
    <h2 class="mt-5 text-title text-center">Book a Room</h2>
    <form class="reservation-form" [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="guestName" class="form-label">Guest Name</label>
            <input type="text" class="form-control" id="guestName" aria-describedby="guestName" formControlName="guestName">
            @if(reservationForm.get('guestName')?.invalid && (reservationForm.get('guestName')?.touched || reservationForm.get('guestName')?.dirty)){
                @if(reservationForm.controls['guestName'].hasError('required')){
                    <small class="text-danger">Name is required.</small>
                }
                @else if(reservationForm.controls['guestName'].hasError('minlength')){
                    <small class="text-danger">Name should be atleast 3 character</small>
                }
            }
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="guestEmail">
            @if(reservationForm.get('guestEmail')?.invalid && (reservationForm.get('guestEmail')?.touched || reservationForm.get('guestEmail')?.dirty)){
                @if(reservationForm.controls['guestEmail'].errors?.['required']){
                    <small class="text-danger">email is required.</small>
                }
                @else if(reservationForm.controls['guestEmail'].hasError('email')){
                    <small class="text-danger">Invalid email format</small>
                }
            }
        </div>
        <div class="mb-3">
            <label for="checkInDate" class="form-label">Check in date</label>
            <input type="date" class="form-control" id="checkInDate" formControlName="checkInDate">
            
            @if(reservationForm.get('checkInDate')?.invalid && (reservationForm.get('checkInDate')?.touched || reservationForm.get('checkInDate')?.dirty)){
                @if(reservationForm.controls['checkInDate'].errors?.['required']){
                    <small class="text-danger">Check-In is required.</small>
                }
               
            }
            
        </div>
        <div class="mb-3">
            <label for="checkOutDate" class="form-label">Checkout Date</label>
            <input type="date" class="form-control" id="checkOutDate" formControlName="checkOutDate">
            @if(reservationForm.get('checkOutDate')?.invalid && (reservationForm.get('checkOutDate')?.touched || reservationForm.get('checkOutDate')?.dirty)){
                @if(reservationForm.controls['checkOutDate'].errors?.['required']){
                    <small class="text-danger">Check-out is required.</small>
                }
               
            }
            
        </div>
        <div class="mb-3">
            <label for="roomNumber" class="form-label">Room Number</label>
            <input type="number" class="form-control" id="roomNumber" formControlName="roomNumber">
            @if(reservationForm.get('roomNumber')?.invalid && (reservationForm.get('roomNumber')?.touched || reservationForm.get('roomNumber')?.dirty)){
                @if(reservationForm.controls['roomNumber'].errors?.['required']){
                    <small class="text-danger">room number is required.</small>
                }
            }
            
        </div>

        <button class="btn btn-primary w-100" type="submit" [disabled]="reservationForm.invalid">Book</button>
    </form>
</div>
